<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WORD COUNT</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script
  src="http://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>
<body>
        <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

  
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                    <h5 style="color:coral;" class="pink-text"><i class="fas fa-chart-pie"></i>멋쟁이 사자들처럼!!!</h5>
                    <h3 class="card-title pt-2"><strong>WORD COUNT</strong></h3>
                    <p style="color:brown;">단어수를 세어보자.</p>
                    <a class="btn btn-pink"><i class="far fa-clone left"></i> </a>
                </div>
            </div>
            
          </div>
          <div class="container">      
    <h1>단어수를 세어보자.</h1>
    <a href="{%url 'about' %}">ABOUT</a>

    <form action="{%url 'count' %}">
        <textarea cols="40" rows="10" name="fulltext"></textarea>
        <br>
        <input type="submit" value="Count!" />
    </form>
    </div>
</body>
</html>